.table {
  background-color: green;
  width: 800px;
  height: 400px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.player-wrapper {
  flex-basis: 230px;
}

.user-wrapper {
  flex-basis: 230px;
  background-color: antiquewhite;
}

.player {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

.current-player {
  background-color: yellow;
}
